main {
  background-color: var(--bg-color);
}
.password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  padding: 32px;
  row-gap: 16px;
}

.card {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 16px;
  row-gap: 16px;
  background-color: var(--dark-grey);
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 8px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  width: 100%;
}

.row-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
